<a href="https://colab.research.google.com/github/SHAMBLE5/Python_Full-Stack_Development-/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list=['apple','banana','cherry']
print(list)

['apple', 'banana', 'cherry']

In [2]:
list=['apple','banana','cherry','cherry','apple']
print(list)

['apple', 'banana', 'cherry', 'cherry', 'apple']

In [4]:
list1=[1,2,3,4]
print(list1)#list of integers
list1=[]
print(list1)#empty
list1=[1,'Hello',6.9]
print(list1)#mixed
list1=['house',[1,2,3],list]
print(list1)#mixed

[1, 2, 3, 4]
[]
[1, 'Hello', 6.9]
['house', [1, 2, 3], ['apple', 'banana', 'cherry', 'cherry', 'apple']]

In [6]:
print(list[0])
print(list[1])
print(list[2])

print(list1[1][0])
print(list1[0][2])

apple
banana
cherry
1
u

In [7]:
print(list[-1])
print(list[-2])
print(list[-5])

apple
cherry
apple

In [12]:
#list=['apple','banana','cherry','cherry','apple']
print(list[1:3])
print(list[3:])
print(list[:])

['banana', 'cherry']
['cherry', 'apple']
['apple', 'banana', 'cherry', 'cherry', 'apple']

In [21]:
num=[1,5,7,9]
print(num)
num.append(10)
print(num)
num.extend([11,13])
print(num)
print('pa'*2)
num.insert(1,3)
print(num)
del num[2]
print(num)
del num[4:7]
print(num)
print(num.pop());
print(num.clear());

[1, 5, 7, 9]
[1, 5, 7, 9, 10]
[1, 5, 7, 9, 10, 11, 13]
papa
[1, 3, 5, 7, 9, 10, 11, 13]
[1, 3, 7, 9, 10, 11, 13]
[1, 3, 7, 9]
9
None

In [24]:
xyz=[1,2,2,3,2]
print(xyz.index(1))
print(xyz.count(2))

0
3